@using Google.Apis.Calendar.v3.Data;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewBag.Id</h1>

@if (ViewBag.EventsList == null)
{
    <h3>You don't have events in your calendar within that range. Click the "Add event" button located at the top-right to add new ones.</h3>
}
else
{
    <h3>Your Events:</h3>
    <div class="col-md-12">
        @Html.ActionLink("Add event","Create","Events",null,new {@class="btn btn-success"})
    </div>
    <table class="table table-responsive table-hover table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Location</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in ViewBag.EventsList)
        {
            <tr>
                <td>@item.Description</td>
                <td>@item.Start.DateTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>@item.End.DateTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>@item.Location</td>
                <td>@Html.ActionLink("Edit", "Edit", "Events", new {Id = item.Id}, null)</td>
                <td>@Html.ActionLink("Delete", "Delete", "Events", new { Id = item.Id }, null)</td>
            </tr>
        }
    </table>

}